@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat&display=swap');
:root {
    --headings: #AC3B61;
    --text: #123C69;
    --background: #EDC7B7;
    --headings-font-family: 'Indie Flower', cursive;
    --text-font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    text-align: center;
    font-family: var(--text-font-family);
    color: var(--text);
}

h2 {
    color: var(--headings);
    font-family: var(--headings-font-family);
    font-size: 2.5rem;
    padding-bottom: 1rem;

}

p {
    line-height: 2;
}

hr {
    border: dotted var(--text) 16px;
    border-bottom: none;
    margin: 5rem auto;
    width: 10%;
}

.middle-container {
    margin: 5rem 0;
}

.image-cropper {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

.profile-img {
    
    margin: 0 auto;
    margin-left: -40%;
    height: 100%;
    width: auto;
}

/*h1 {
    font-family: var(--headings-font-family);
}*/


.skill-row{
    width: 50%;
    text-align: left;
    margin: 2rem auto;
    overflow: hidden;
}

.code-img {
    width: 25%;
    float: left;
    margin-right: 2rem;
}

.hobby-img {
    width: 25%;
    float:  right;
}

.animation-box {
    border: 2px solid wheat;
    height: 204px;
    width: 204px;
    margin: 2rem auto;
    position: relative;
}

.btn {
	border: none;
	background: #404040;
	color: #ffffff !important;
	font-weight: 100;
	padding: 20px;
    text-transform: uppercase;
    text-decoration: none;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}

.btn:hover {
	color: #404040;
	font-weight: 700 !important;
	letter-spacing: 3px;
	box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.3s ease 0s;
}

.bottom-link {
    display: inline-block;
    margin: 1rem;
}

.li-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-wrapper i {
    margin-right: 1rem;
}

.li-wrapper a {
    text-decoration: none;
    color: var(--text);
}

.copyright {
    margin: 5rem;
}